<div class="flex flex-wrap gap-16 justify-center">
    <ng-container *ngFor="let section of (pageData$ | async)!.sections">
        <div
            *ngIf="!section?.hideSection"
            (click)="handleSectionClick(section)"
            role="button"
            class="section mb-10"
        >
            <img [src]="section.img" loading="lazy" />
            <div class="title flex items-center justify-center">
                <span class="text-xl mt-auto pb-3">{{ section.title }}</span>
            </div>
        </div>
    </ng-container>
</div>
