.audio {
    position: relative;
    background-color: var(--app-pastel-accent);
    max-width: 700px;
    overflow: hidden;

    button {
        all: unset;

        &.paused {
            svg {
                color: var(--app-red-accent);
            }
        }
    }

    button,
    p {
        z-index: 2;
    }

    .progress-bar {
        background-color: var(--app-red-accent);
        position: absolute;
        height: 5%;
        width: 0;
        left: 0;
        bottom: 0;
        z-index: 1;
    }
}

/* :hover will only work in Edge, Chrome, Safari */
@media (hover: hover) {
    .audio {
        button:not(:disabled) {
            svg:hover {
                cursor: pointer;
                scale: 1.2;
            }
        }
    }
}
